@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

.view{
    animation: entrada linear both;
    animation-timeline: view();
    animation-range: entry 25% cover 30%;
}

@keyframes entrada {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}